<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../assets/main.bundle.css">

    <meta charset="UTF-8">
    <title>Stan's assets</title>
</head>

<body>

<header>
    <div class="menu_background">
        <div class="container">
            <div class="menu_flex">
                <div class="menu-logo"><img src="../../src/images/header/logo.png" alt=""></div>
                <nav class="menu">
                    <ul>
                        <li>SERVICES</li>
                        <li>TECHNOLOGIES</li>
                        <li>PRODUCTS</li>
                        <li>PORTFOLIO</li>
                        <li>BLOG</li>
                        <li>ABOUT US</li>
                    </ul>
                </nav>
                <a href="#" class="btn_white btn">Contact us</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main_block">
            <h1 class="">FOCUS ON THE PRODUCT AND LET US DO THE REST!</h1>
            <div class="main_text">
                We’re an Indian software development company focused on just one thing - offshore software development
                services. We have 16+ years of experience and a team of 450+ developers working efficiently to deliver
                unique solutions to start-ups, software development companies, enterprises, and digital agencies to
                simplify
                their IT outsourcing experience & reduce time/cost to market.
            </div>
            <div class="main_btn">
                <div class="btn_white btn">MORE</div>
                <div class="btn_green btn">CONTACT US</div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="technologies">
        <div class="technologies-main">
            <h2>technologies</h2>
        </div>
        <div class="technologies-text">
            Stan’s Assets is a team of developers that are committed to developing high quality and engaging entertainment
            software
        </div>
        <div class="technologies-icons">
            <img src="../images/main/android.png" alt="">
            <img src="../images/main/apple.png" alt="">
            <img src="../images/main/battle.pngy" alt="">
        </div>
        <div class="technologies-text">
            Our engineers develop applications for the most popular platforms.
        </div>
    </div>
</div>


</body>
</html>